.slider-container {
  padding-top: 50px;
  width: 80%;
  height: 400px;
  margin: 0 auto; /* Center the slider */
}

.slick-slide img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.slick-prev,
.slick-next {
  z-index: 1;
  color: black;
}

.slider-container {
  text-align: center;
}

.slider-text {
  margin: 20px 0 60px 0;
}
.slider-text p {
  font-size: 2rem;
}
.slider-text p span {
  font-weight: 600;
  color: #002863;
}
